= javascript_include_tag "//www.google.com/jsapi", "chartkick"

.main-content
  .content-header= @registered_application.name
  .content-subheader Application Details
  = render partial: 'registered_applications/registered_application', locals: {registered_application: @registered_application}
  .content-header Events By Name
  = pie_chart @registered_application.events.group(:name).count
  .content-header Events Over Time
  = line_chart @registered_application.events.group_by_day(:created_at).count
.sidebar
  = render partial: 'layouts/sidebar', locals: {registered_application: @registered_application}